# Unity generated folders
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/Assets/StreamingAssets/aa/
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
/Assets/AddressableAssetsData/*/*.bin*
crashlytics-build.properties
# IDE
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
.DS_Store
